@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", Arial;
  font-size: 13px;
  overflow-x: hidden;
}

header {
  height: 100px;
  background-color: #000000;
}

.header {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
/* logo do site */
.logo {
  width: 80px;
}

.logo-img {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-color: #b28756;
  border-radius: 40px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
  height: 100px;
  align-items: center;
  border-bottom: 5px solid #000000;
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #b28756;
  color: #ccc;
}
/* principal pag*/
.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}
/* banner especifico, usando reuso */
.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
}

.banner h1 span {
  color: #b28756;
}

.banner h2 {
  text-transform: uppercase;
  margin-top: 15px;
}

.button {
  text-decoration: none;
  display: inline-block;
  background-color: #b28756;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}
/* pointers para banners */
.banner .sliders-pointers {
  width: 100vw;
  height: 15px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: #b28756;
}
/* área de default de todo o site em sequencia */
.default {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.default .section-tittle,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .section-tittle {
  font-size: 20px;
}

.default .section-desc {
  font-size: 12px;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 40px;
}
.default .section-body {
  font-family: montserrat;
  margin: auto;
  max-width: 1140px;
}

/* default para fundo branco */
.default.light {
  background-color: #f7f7f7;
}
.default.light .section-tittle,
.default.light .section-body {
  color: #000000;
}

/* default para fundo preto */
.default.dark {
  background-color: #000000;
}
.default.dark .section-tittle,
.default.dark .section-body {
  color: #fff;
}

/* css de área expecifica */
.section-about {
  display: flex;
}

.section-about-left {
  flex: 1;
}

.section-about-left p {
  font-size: 14px;
  line-height: 22px;
}

.section-about-right {
  margin-left: 10px;
  width: 500px;
}

.section-about-right img {
  width: 480px;
  box-shadow: 0px 0px 10px #333;
}
/* botao de saiba mais está na interface linha 117 */

/* section service */
.section-services {
  display: flex;
}

.section-serv {
  flex: 1;
  text-align: center;
  border-right: 1px solid #333;
  padding: 15px;
}
/* margem na esquerda */
.section-serv:first-child {
  border-left: 1px solid #333;
}

.section-serv h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.section-serv p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}
/* área de projeto */
.section-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-project-filters {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 30px;
  display: inline-block;
  padding: 0px 20px;
  margin: auto;
}

.section-project-filters ul,
.section-project-filters li {
  list-style: none;
}

.section-project-filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border-left: 1px solid #ccc;
  color: #555;
  cursor: pointer;
}

.section-project-filters li:hover,
.section-project-filters li.active {
  border-bottom: 3px solid #b28756;
}
/* removendo borda do lado esquerdo */
.section-project-filters li:first-child {
  border-left: 0;
}

/* area de fotos // feito já pensando em responsabilidade */
.section-project-photos {
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-project-photo {
  width: 280px;
}

.section-project-photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}

.section-project-photoarea img {
  width: inherit;
  height: inherit;
}

.section-project-photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.section-project-photoinfo h5 {
  font-size: 20px;
  font-weight: 600px;
}

.section-project-photoarea:hover .section-project-photoinfo {
  display: flex;
}
